*{
    
    font-family: 'Shippori Mincho', serif;
    box-sizing: border-box;
    position: relative;
    color: #777676;
    vertical-align: top;
}

html,body{

    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
    background-size: 100%;
    background-position: center ;
    background-repeat: no-repeat; 
}
    
.container{
    width: 70%;
    margin: 3%;
    border: solid 1px rgb(206, 206, 206);
    border-radius: 3px;
    background-color: rgba(248, 248, 248, 0.822);
  
}
.container h2{
    border: solid 3px rgb(238, 232, 225);
    border-radius: 3px;
    opacity: 0.8;
    margin: 20px;
    padding: 10px;
    text-align: center;
}


.pic{
    width: 180px;
    height: 180px;
    background-image: url('118510571_829458564263469_8070001175259318619_n.jpg'); 
    background-size: 110%;
    background-position: bottom;
    margin: 30px;
    border-radius: 10px;
   
}

.bigname{
    font-size: 55px;
    font-weight: 900;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 35%;
    line-height: 1;
    
}

hr{
    width: 90px;
    border:  solid 2px #777676;
}



.section{
    display: inline-block;
    text-align: center;
    line-height: 2;
   
   
    
}


.section .name{
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(104, 102, 102);
    
}


.section p{
   text-align: left;
   padding-left: 10%;
   margin: 0px;
}

.sec{
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    
    

}

.sec1{
    
    width: 450px;
    
    
}
.sec2{
    width: 450px;
   
    
}

.w1{
    position: relative;
    top: 10;
}

.article{
    margin-top: 10px;
}


.ski{
    display: inline-block;
    margin-left: 30px;
    width: 450px;
}

.sk1{
    text-align: center;
     
}

.skill h3{
  text-align: center;
  margin: 30px;
  color: rgb(104, 102, 102);
}

.sk2 p{
    margin-top: 28px;
}

.article h4{
    margin: 5px;
}

.sk2 p{
    text-align: left;
    padding-left: 30px;
}

.fo{
    width: 450px;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-left: 40px;

}

.foo{
    text-align: center;
    font-size: 18px;
    color: rgb(104, 102, 102);
    font-weight: 800;
}



