*{
    font-family: 'Shippori Mincho', serif;
    box-sizing: border-box;
    position: relative;
    color: #777676;
    vertical-align: top;
    /* outline: solid 1px rgb(143, 131, 131); */
}

html,body{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80);
}
    
.container{
    max-width: 800px;
    width: 800px;
    margin: 20px 20px;
    border: solid 1px rgb(206, 206, 206);
    border-radius: 3px;
    background-color: rgba(248, 248, 248, 0.822);
    box-shadow: 2px 2px 10px 4px rgb(0 0 0 / 20%);
}
.container h2{
    border: solid 3px rgb(238, 232, 225);
    border-radius: 3px;
    opacity: 0.8;
    margin: 10px;
    padding: 10px;
    text-align: center;
}


.pic{
    width: 180px;
    height: 180px;
    background-image: url('118510571_829458564263469_8070001175259318619_n.jpg'); 
    background-size: 110%;
    background-position: bottom left;
    margin: 30px;
    border-radius: 10px;
   
}

.English-name{
    max-width: 100%;
    font-size: 55px;
    font-weight: 900;
    text-align: center;
    margin-top: -30px;
}

hr{
    width: 90px;
    height: 5px;
    background-color: #777676;
}


.section{
    display: flex;
    justify-content: center;    
}

.section>.box,.skill>.box,.work-experience>.box{
    max-width: 50%;
    width: 50%;
    margin: 10px;
}


.section h3, .skill h3{
    font-size: 20px;
    padding: 5px 0px;
}

.about-me p,.skill p{
   line-height: 2;
}

.personal-data>ul>li{
   margin: 5px 0px;
}

.personal-data>ul>li,.section h3, .section p,.skill>
.ski>h3,.skill>.ski>p,.footer>.foo
{
    padding: 5px 50px;
}

.work-experience>.box>p,.work-experience>.box>h4{
    padding: 8px 50px;
}

.skill>.ski>p{
    font-size: 15px;
}

.skill>.ski>ul>li,.skill h4{
    padding: 13px 50px;
}

.skill h4,.footer>.foo{
    font-size: 18px;
}

.skill{
    display: flex;
}

.work-experience{
    display: flex;
}


@media screen and (max-width:780px){
    .section,.article{
        flex-direction: column;
        align-items: center;
    }

    .personal-data>ul>li,.section h3, .section p,.skill>
    .ski>h3,.skill>.ski>p,.footer>.foo
    {
        padding: 5px 10px;
    }
    
    .skill,.footer>.work-experience{
        padding: 5px 10px;
    }

    .work-experience>.box>p,.work-experience>.box>h4{
        padding: 8px 0px;
    }

    .skill>.ski>ul>li,.skill h4{
        padding: 13px 10px;
    }

    .section>.box,.skill>.box,.work-experience>.box{
        max-width: 100%;
        width: 100%;
    }
   
}

@media screen and (max-width:600px){
    .skill,.footer>.work-experience{
        flex-direction: column;
        align-items: center;
    }
}




  
